@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,500&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  background-color: #051427;
}